@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>Visited sites: @Context.Session.GetString("actions")</p>